@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;500;700&family=Roboto:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", "Sans-serif";
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  min-height: 100vh;
  min-width: 100vw;
}

.blue {
  color: #00b0ff;
  font-weight: 700;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input, textarea{
  width: 100%;
  background-color: #242424;
  color: white;
  outline: none;
  border: 1px solid #c0c4cc;
  border-top: none;
  border-left:none;
  border-right:none;
  height: 40px;
  transition: all 300ms ease;
}

textarea{
  resize: vertical;
  height: 100px;
  margin-top: 8px;
}

label{
  font-size: 14px;
  font-weight: bold;
}

input:hover, textarea:hover {
  border-color: #dcdfe6;

}

input:focus, textarea:focus{
  border-color: #00b0ff;
}

.container {
  padding: 40px 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.row {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 12px;
}

.gradient {
    background: linear-gradient(193deg, rgba(0,176,255,1) 23%, rgba(8,156,222,1) 44%, rgba(0,198,255,1) 55%, rgba(26,164,231,1) 66%, rgba(13,233,255,1) 75%, rgba(13,168,255,1) 86%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.click{
    transition: all 300ms ease;
    cursor: pointer;
}
.click:hover{
    transform: scale(1.10);
}

.click:active{
    transform: scale(0.8);
}
/* 

LANDING PAGE

*/


#landing-page{
  background-color: #090a0f;
  min-height: 100vh;
  min-width: 100vw;
  max-height: 1700px;
  overflow:hidden 
}

nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}

.nav__background-img {
  position: absolute;
  height: 400px;
  width: 100%;
}

.nav__link--list {
  display: flex;
}

.nav__link {
  margin: 0 12px;
}

.nav__link--anchor {
  font-size: 17px;
  font-weight: 700;
  color: white;
}


.company__logo {
  height: 50px;
  width: 300px;
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0px;
  height: 3px;
  background-color: #00b0ff;
  transition: all ease 300ms;
  width: 0;
}

.link__hover-effect:hover:after {
  left: 0;
  width: 100%;
}

.landing__description {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.landing__title {
  font-size: 56px;
  position: relative;
  text-align: center;
}

.landing__title::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  bottom: -5px;
  background-color: #00b0ff;
}

.landing__sub-title {
  font-size: 36px;
  max-width: 600px;
  text-align: center;
}

.landing__title,
.landing__sub-title {
  margin-bottom: 40px;
}

.landing__description--button {
  font-size: 24px;
  font-weight: 700;
  color: white;
  background-color: #00b0ff;
  border-radius: 20px;
  padding: 12px 24px;
  transition: all 300ms ease;
}

.landing__description--button:hover{
    background-color: white;
    color: #00b0ff;
}

.landing__img {
  width: 100%;
  z-index: 2;
}



.landing__img--wrapper {
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}



/* 

Buttons

*/

.btn__img{
  color: black;
}

.mail__btn{
    width: 50px;
    background-color: white;
    border: none;
    position: fixed;
    bottom: 32px;
    right: 40px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    font-size: 32px;
    z-index: 3;
    text-align: center;
}

.mail__btn::after{
  content: "Contact";
  font-size: 24px;
  color: white;
  position: absolute;
  left: 0;
  top: 25%;
  opacity: 0;
  transition: all 300ms ease;
}


.mail__btn:hover:after{
  transform: translateX(-125%);
  opacity: 1;
}


.sub__btn{
  width: 50px;
  background-color: white;
  position: fixed;
  bottom: 32px;
  left: 40px;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  font-size: 32px;
  z-index: 3;
  border: none;
}

.sub__btn::after{
  content: "Subscribe";
  font-size: 24px;
  color: white;
  position: absolute;
  left: 0;
  top: 25%;
  opacity: 0;
  transition: all 400ms ease;
}

.sub__btn:hover:after{
  transform: translateX(90%);
  opacity: 1;
}





.shape {
  position: absolute;
  width: 300px;
  z-index: 2;
  opacity: 0.9;

}

.back--1{
  top: 200px;
  left: -6%;
}

.back--2{
 top: 60%;
 right: -6%;
}

.back--3{
  top: 17%;
  right: -6%;
  transform: rotate(180deg);
}

.back--4{
  top: 55%;
  left: -6%;
  transform: rotate(180deg);
}

.shape__animate {
  position: absolute;
}

.shape--1 {
  top: 15vh;
  left: 10vw;
}

/* .shape--2 {
  top: 15vh;
  left: 22vw;
} */
.shape--3 {
  top: 15vh;
  left: 80vw;
}
.shape--4 {
  top: 50vh;
  left: 15vw;
}
/* .shape--5 {
  top: 50vh;
  left: 22vw;
 } */

.shape--6 {
  top: 50vh;
  left: 90vw;
}
.shape--7 {
  top: 80vh;
  left: 10vw;
}
/* .shape--8 {
  top: 80vh;
  left: 22vw;
} */
.shape--9 {
  top: 80vh;
  left: 82vw;
}


/* BADGE DIV */

.badge-ribbon__wrapper{
    position: absolute;
    top: 45%;
    right: 30%;
}

.badge-ribbon{
    position: relative;
    background-color: #00b0ff;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 0 auto;
    z-index: 5;
}

.badge-ribbon:before,
.badge-ribbon:after {
    content: "";
    position: absolute;
    border-bottom: 70px solid #00b0ff;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    top: 70px;
    left: -10px;
    transform: rotate(-140deg);
    z-index: -3;
}

.badge-ribbon:after{
    left: auto;
    right: -10px;
    transform: rotate(140deg);
    
}

.badge-ribbon__img{
    width: 100%;
    
}


/* 

FOOTER

*/

.footer__wrapper{
  padding: 50px 0;
  width: 100%;
}

footer{
  display: flex;
  padding: 6% 0;
  max-height: 50vh;
  position: relative;
}

.footer__row{
  flex-direction: column;
  display: flex;
  align-items: center;

}


.footer__logo--img{
  width: 150px;
}

.footer__social--list{
  width: 100%;
  max-width: 550px;
  display: flex;
  justify-content: space-around;
  margin: 28px 0;
}

.footer__social--link,
.footer__copyright {
  color: white;
}





/* modal */


.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1100px;
  height: 700px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  visibility: hidden;
  z-index: -1;
  transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}




.email-modal--open .modal{
  z-index: 60;
  box-shadow: 0 20px 80px 0 rgb(0,0,0,0.55);
  visibility: visible;
}

.modal__half{
  width: 50%;
  padding: 40px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition:  all 300ms ease-in;

}

.email-modal--open .modal__about,
.email-modal--open .modal__contact{
  transform: translateX(0%);
}

.modal__about{
  background-color: #00b0ff;
  transform: translateX(-110%);  
  color: white;
 
}




.modal__contact {
  background-color: #242424;
  color: white;
  transform: translateX(110%);
}

.modal__title{
  font-size: 26px;
}

.modal__sub-title{
  margin: 12px 0 24px 0;
}

.modal__para{
  margin-bottom: 12px;
  line-height: 1.75;
}

.form__item {
  margin-bottom: 20px;
}

.form__submit,
.sub-form__submit{
  background-color: white;
  border: 2px solid white;
  color: #242424;
  font-weight: 700;
  max-width: 240px;
  width: 100%;
  padding: 12px 24px;
  font-size: 20px;
  transition: all 300ms ease;
}

.form__submit:hover,
.sub-form__submit:hover{
  border-color: white;
  background-color: transparent;
  color: #00b0ff;
}

.form__submit:active{
  border-color: #f06449;
  color: #f06449;
}

.modal__overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: -1;
  
}

.modal__overlay--loading{
  background-color: #242424;
  font-size: 80px;
}

.modal__overlay--success{
  background-color: #4bb543;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 28px;
  
  
}

.fa-star{
  color: gold;
}

.modal__overlay--visible{ 
  z-index: 1;
  display: flex;
}


.fa-spinner{
  animation: spinner 750ms infinite linear;
}

@keyframes spinner {
  0% {
      transform: rotate(0);
  }

  100%{
      transform: rotate(360deg);
  }
}


.modal__exit{
  position: absolute;
  top: 30px;
  right: 40px;
  color: white;
  font-size: 36px;
  z-index: 100;
}


/* 


SUBMODAL


*/



.modal__subscribe{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1100px;
  height: 700px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  z-index: -1;
  visibility: hidden;
  transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}




.modal__form{
  background-color: #242424;
  transform: translateX(-110%);
  color: white;
}




.sub-modal--open .modal__subscribe{
  z-index: 60;
  box-shadow: 0 20px 80px 0 rgb(0,0,0,0.55);
  visibility: visible;
}

.modal__form-info {
  background-color: #00b0ff;
  transform: translateX(110%);
  color: white;
}


.sub-modal--open .modal__form-info,
.sub-modal--open .modal__form {
  transform: translateX(0%);
}

.sub-modal--open .row,
.email-modal--open .row{
  visibility: hidden;
}

.checkbox{
  display: flex;
}

.checkbox__btn{
  max-width: 40px;
  margin-right: 24px;
}

.checkbox__btn:checked{
  background-color: #242424;
  color: #242424;
}

#subscription__form{
  margin-top: 40px;
}


.form__agreement{
  font-size: 13px;
}




/* 

Menu

*/
.btn__menu {
  background-color: transparent;
  font-size: 40px;
  border: none;
  color: white;
  display: none;
}
.menu__backdrop {
  position: absolute;
  background-color: #242424;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  z-index: 180;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all 300ms ease;
  opacity: 0;
  transform: translate(100%);
}

.menu--open {
  max-height: 100vh;
  overflow: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
  transform: translate(0);
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
  text-align: center;
}

.menu__link {
  color: white;
  font-size: 40px;
}

.btn__menu--close {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 8px;
  color: white;
}


/* 

Light mode

*/
.light__mode .nav__link--anchor,
.light__mode .landing__description,
.light__mode .btn__menu{
  color: #242424;
}


.light__mode .mail__btn,
.light__mode .sub__btn,
.light__mode .company__logo {
  filter: invert(1);
}


.light__mode #landing-page{
  background-color: #dcdfe6;
}



.light__mode .landing__description--button:hover{
  background-color: #242424;
}


.nav__link--anchor,
.landing__description,
.mail__btn,
.sub__btn,
.company__logo,
#landing-page{
  transition: all 300ms ease;
}


@media (max-width:1280px){
  .shape{visibility: hidden;}
  .landing__title{ font-size: 48px;}
  .landing__sub-title{font-size: 32px;}
  .badge-ribbon__wrapper{visibility: hidden;}
  .landing__img{max-width: 650px;}
  .company__logo {
    height: 40px;
    width: 240px;
  }
}



@media (max-width: 768px){
  .company__logo {
    height: 30px;
    width: 180px;
  }
  .shape__animate{
    visibility: hidden;
  }
  .btn__menu {
    display: block;
  }

  .nav__link--list {
    display: none;
  }
  .modal__title{font-size: 22px;}
  .modal__sub-title{font-size: 14px;}
  .modal__para{font-size: 13px;}

  .modal {
    top: 0;
    left: 0;
    transform: none;
    height: auto;
    width: 100%;
    flex-direction: column;
    flex-direction: column-reverse;
}

.modal__half{
    width: 100%;
    height: 50%;
    border-radius: 0;
}

.modal__form--label{
  font-size: 14px;
}

input{
  height: 30px;
}

textarea{
  height: 50px;
}
.modal__sub-title{
  margin-bottom: 12px;
}

.modal__subscribe{
    top: 0;
    left: 0;
    transform: none;
    height: auto;
    width: 100%;
    flex-direction: column;
    flex-direction: column-reverse;
}

.landing__description{
  margin-bottom: 60px;
}

.container{
  padding: 30px 0;
}

}
@media (max-width: 468px){
  .company__logo {
    height: 25px;
    width: 150px;
  }

  .container{
    padding: 10px 0;
  }

  .landing__description{
    margin-bottom: 55px;
  }
}